.container {
    padding: 0.3em;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
    text-align: center;
}

.controls {
    padding: 1em;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 50pt;   
}

.controls input {
    margin: 10pt;
    border: 1pt solid black;
    text-align: center;
}

.controls button {
    margin: 10px
}

.config_inactive {
    background-color: rgb(245, 85, 85, 0.5);
}

.config_active {
    background-color: rgb(112, 207, 112, 0.5);
}

.stages {
    padding: 0.5em;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 50pt;    
}

.stages p {
    margin: 15px;
    border: 1px solid black;
    padding: 0.5em;
    height: 25pt;    
}

.datapath {
    border: 1px solid black;
    height: 100%;
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 9;
    text-align: center;
    overflow-x: scroll;
}

.datapath canvas {
    left: 9px;
    bottom:8px;
    position: absolute;
}

.registers{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 9;
    border: 1pt solid black;
    overflow-y: auto;
    position: relative;
    height: 100%;
}

.registers table {
    table-layout: fixed;
    width: 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    padding: 0.25em;
}

.instructions{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 9;
    border: 1pt solid black;
    overflow-y: auto;
    position: relative;
    height: 100%;
}

.instructions table {
    table-layout: fixed;
    width: 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    padding: 0.25em;
}

.alu {
    font-size: 9pt;
    position: absolute;
    left: 641px;
    bottom: 300px;
}

.reg {
    font-size: 9pt;
    position: absolute;
    left: 363px;
    bottom: 300px;
}

.data-mem {
    font-size: 9pt;
    position: absolute;
    left: 805px;
    bottom: 228px;
}

.instr-mem {
    font-size: 9pt;
    position: absolute;
    left: 144px;
    bottom: 295px;
}

.imm-gen {
    font-size: 9pt;
    position: absolute;
    left: 359px;
    bottom: 179px;
}

.control {
    font-size: 9pt;
    position: absolute;
    left: 366px;
    bottom: 424px;
}

.pc {
    font-size: 9pt;
    position: absolute;
    left: 87px;
    bottom: 300px;
}

.ifid {
    font-size: 9pt;
    position: absolute;
    left: 226px;
    bottom: 500px;
}

.idex {
    font-size: 9pt;
    position: absolute;
    left: 453px;
    bottom: 500px;
}

.exmem {
    font-size: 9pt;
    position: absolute;
    left: 685px;
    bottom: 500px;
}

.memwb {
    font-size: 9pt;
    position: absolute;
    left: 914px;
    bottom: 500px;
}

.hazard {
    font-size: 9pt;
    position: absolute;
    left: 329px;
    bottom: 533px;
}

.hazard_replace {
    font-size: 9pt;
    position: absolute;
    left: 694px;
    bottom: 31px;
}

.forwarding {
    font-size: 9pt;
    position: absolute;
    left: 683px;
    bottom: 31px;
}

.mux-alu_rs1 {
    font-size: 8pt;
    position: absolute;
    left: 594px;
    bottom: 225px;
}

.mux-alu_rs2 {
    font-size: 8pt;
    position: absolute;
    left: 594px;
    bottom: 351px;
}

.mux-wb {
    font-size: 8pt;
    position: absolute;
    left: 1015px;
    bottom: 315px;
}

.mux_pc {
    font-size: 8pt;
    position: absolute;
    left: 44px;
    bottom: 290px;
}

.mux_pc_imm {
    font-size: 8pt;
    position: absolute;
    left: 36px;
    bottom: 512px;
}

.mux_rs1_imm {
    font-size: 8pt;
    position: absolute;
    left: 595px;
    bottom: 512px;
}

.forward_mux_rs1 {
    font-size: 8pt;
    position: absolute;
    left: 553px;
    bottom: 332px;
}

.forward_mux_rs2 {
    font-size: 8pt;
    position: absolute;
    left: 553px;
    bottom: 252px;
}

.plus-4 {
    font-size: 10pt;
    position: absolute;
    left: 127px;
    bottom: 456px;
}

.adder_imm_rs1 {
    font-size: 8pt;
    position: absolute;
    left: 637px;
    bottom: 535px;
}
